How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [16]:
df.X.index.tolist()
index=0
outList=[]
for i in range(0,len(df.X.tolist())):
    outList.append(index)
    if df.X.tolist()[i]==0:
        index = i
df['Y'] = outList
df

   X  Y
0  7  0
1  2  0
2  0  0
3  3  2
4  4  2
5  2  2
6  5  2
7  0  2
8  3  7
9  4  7

Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [2]:
import numpy.random as rn
dt = pd.DatetimeIndex(start='2019/01/01',end='2019/12/31',freq='B')
dtFrame=pd.DataFrame(dt,columns=['businessDay'])
dtFrame
#len(dt)
s = pd.Series(rn.rand(len(dt)), index=dt)
s

2019-01-01    0.272946
2019-01-02    0.682096
2019-01-03    0.459958
2019-01-04    0.681780
2019-01-07    0.552900
2019-01-08    0.046020
2019-01-09    0.307853
2019-01-10    0.768315
2019-01-11    0.288390
2019-01-14    0.786918
2019-01-15    0.532073
2019-01-16    0.952301
2019-01-17    0.778808
2019-01-18    0.795260
2019-01-21    0.858785
2019-01-22    0.370675
2019-01-23    0.066394
2019-01-24    0.112564
2019-01-25    0.845422
2019-01-28    0.191688
2019-01-29    0.329462
2019-01-30    0.903992
2019-01-31    0.232161
2019-02-01    0.245017
2019-02-04    0.076568
2019-02-05    0.500984
2019-02-06    0.201663
2019-02-07    0.512462
2019-02-08    0.959511
2019-02-11    0.520864
                ...
2019-11-20    0.474676
2019-11-21    0.053746
2019-11-22    0.493419
2019-11-25    0.557444
2019-11-26    0.559988
2019-11-27    0.089892
2019-11-28    0.913806
2019-11-29    0.972735
2019-12-02    0.776510
2019-12-03    0.889646
2019-12-04    0.410200
2019-12-05    0.148716
2019-12-06    0.982223
2019-12-09    0.727980
2019-12-10    0.916451
2019-12-11    0.896433
2019-12-12    0.924359
2019-12-13    0.959704
2019-12-16    0.295623
2019-12-17    0.670508
2019-12-18    0.007480
2019-12-19    0.050852
2019-12-20    0.892514
2019-12-23    0.084466
2019-12-24    0.091451
2019-12-25    0.860498
2019-12-26    0.744076
2019-12-27    0.056950
2019-12-30    0.259623
2019-12-31    0.111707
Freq: B, Length: 261, dtype: float64

In [49]:
#Find the sum of the values in s for every Wednesday
s[dt.dayofweek==2].sum()

25.28866216980697

In [54]:
#Average For each calendar month

mon = set(dt.month)
for m in mon:
    for dtMon in dt.month:
        if m == dtMon:
            sum = sum + s[]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [63]:
#Average For each calendar month

s.resample('M').mean()

2019-01-31    0.489248
2019-02-28    0.585228
2019-03-31    0.558026
2019-04-30    0.565780
2019-05-31    0.555045
2019-06-30    0.534491
2019-07-31    0.698581
2019-08-31    0.559649
2019-09-30    0.509595
2019-10-31    0.472818
2019-11-30    0.483482
2019-12-31    0.564282
Freq: M, dtype: float64

In [10]:
#For each group of four consecutive calendar months in s, find the date on which the highest value occurred.s
s.groupby(pd.Grouper(freq='4M')).idxmax()

2019-01-31   2019-01-16
2019-05-31   2019-05-23
2019-09-30   2019-08-05
2020-01-31   2019-12-06
dtype: datetime64[ns]

In [11]:
s['2019-12-06']

0.9822228617996155

In [16]:
s.groupby(pd.Grouper(freq='4M')).sum()

2019-01-31    11.816761
2019-05-31    32.926100
2019-09-30    44.959652
2020-01-31    33.471916
dtype: float64